@import "../../../Styles/__variables.scss";

.main-sidebar-block-container {
  background-color: $thirdColor;
  height: 100%;
  padding: 50px 0;
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
  box-shadow: 0 0 10px 10px #ededed;
  text-align: center;
  .img-user {
    text-align: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin: 0 auto;
  }
  .main-link-pages {
    margin-top: 40px;
    .active {
      background-color: $secondColor;
      border-radius: 10px;
      .svg-inline--fa {
        color: $mainColor;
      }
    }
    .svg-inline--fa {
      font-size: 1rem;
    }
    .link-item {
      margin: 0 auto 30px;
      color: $defualtColor;
    }
  }
  .footer-sidebar {
    position: absolute;
    bottom: 70px;
    left: 15px;
    .as-item {
      text-align: center;
      height: 35px;
      width: 35px;
      line-height: 35px;
      border-radius: 50%;
      background-color: $secondColor;
      color: $mainColor;
      margin-top: 30px;
      font-weight: 600;
      font-size: 15px;
    }
  }
}
